In [35]:
import pandas as pd
import numpy as np
import joblib
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

#set pandas to display all rows of a dataframe, create our playerData dataframe
pd.set_option("display.max_rows", None)
playerData = pd.read_csv("MLBStatScraperMVP_20210906_string.csv")

#if we have a model already saved load it, else handle exception by creating a new model
try:
    model = joblib.load("mvp_predictor_logisticregression_model.joblib")
except FileNotFoundError:
    #process data to remove names that cannot be used in training the model, and seperate into input X, and output y sets
    namelessPlayerData = playerData.drop(columns=["player name"])
    X = namelessPlayerData.drop(columns=["mvp"])
    y = namelessPlayerData["mvp"]
    
    #split our data into training and testing sets, using 80% for training and 20% for testing
#     X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)

    
    #create, train, and save the model
#     model = LogisticRegression()
    model = LogisticRegression(class_weight="balanced")
    model.fit(X_train, y_train)
    joblib.dump(model, "mvp_predictor_logisticregression_model.joblib")
    
    #testing our model
    predictions = model.predict(X_test)

In [36]:
accuracyScore = accuracy_score(y_test, predictions)
accuracyScore

0.808641975308642

In [37]:
#read and process our AL data, then make predictions
alPredictionData = pd.read_csv("MLBStatScraper_20211004_american_ops_2021.csv")
namelessALData = alPredictionData.drop(columns=["player name"])
alPredictions = model.predict(namelessALData)

#create a dataframe to easier visualize our AL predictions
alPredictionsArray = np.array(alPredictions)
alPredictionsDf = pd.DataFrame(alPredictionsArray)
alPredictionsDf.columns = ["mvp"]
alPredictionsDf

        mvp
0       MVP
1   Not MVP
2   Not MVP
3   Not MVP
4   Not MVP
5   Not MVP
6   Not MVP
7   Not MVP
8   Not MVP
9   Not MVP
10      MVP
11  Not MVP
12  Not MVP
13  Not MVP
14  Not MVP
15  Not MVP
16  Not MVP
17  Not MVP
18  Not MVP
19  Not MVP
20  Not MVP
21  Not MVP
22  Not MVP
23  Not MVP
24  Not MVP

In [38]:
#calculate probabilies of our model's predictions for ALMVP
alPredictionProbabilities = model.predict_proba(namelessALData)
alProbabilitiesArray = np.array(alPredictionProbabilities)
alProbabilitiesDf = pd.DataFrame(alProbabilitiesArray)
alProbabilitiesDf.columns = ["almvp", "not almvp"]
alProbabilitiesDf

       almvp  not almvp
0   0.666913   0.333087
1   0.414183   0.585817
2   0.355016   0.644984
3   0.366983   0.633017
4   0.469946   0.530054
5   0.357627   0.642373
6   0.463709   0.536291
7   0.087529   0.912471
8   0.363391   0.636609
9   0.277779   0.722221
10  0.504505   0.495495
11  0.273981   0.726019
12  0.327631   0.672369
13  0.238351   0.761649
14  0.187154   0.812846
15  0.433737   0.566263
16  0.238317   0.761683
17  0.275049   0.724951
18  0.222839   0.777161
19  0.150627   0.849373
20  0.148150   0.851850
21  0.396377   0.603623
22  0.296961   0.703039
23  0.084384   0.915616
24  0.217380   0.782620

In [39]:
alPredictionData

          player name    ops    avg  rbi  hr
0   Vladimir Guerrero  1.002  0.311  111  48
1       Shohei Ohtani  0.965  0.257  100  46
2         Kyle Tucker  0.917  0.294   92  30
3         Aaron Judge  0.916  0.287   98  39
4          Matt Olson  0.911  0.271  111  39
5        Jose Ramirez  0.893  0.266  103  36
6       Rafael Devers  0.890  0.279  113  38
7      Cedric Mullins  0.878  0.291   59  30
8      Yordan Alvarez  0.877  0.277  104  33
9       Marcus Semien  0.873  0.265  102  45
10  Teoscar Hernandez  0.870  0.296  116  32
11  Giancarlo Stanton  0.870  0.273   97  35
12      J.D. Martinez  0.867  0.286   99  28
13       Brandon Lowe  0.863  0.247   99  39
14    Xander Bogaerts  0.863  0.295   79  23
15     Salvador Perez  0.859  0.273  121  48
16      Carlos Correa  0.850  0.279   92  26
17        Jared Walsh  0.850  0.277   98  29
18       Yuli Gurriel  0.846  0.319   81  15
19        Jose Altuve  0.839  0.278   83  31
20        Nelson Cruz  0.832  0.265   86  32
21         Jose Abreu  0.831  0.261  117  30
22        Bo Bichette  0.828  0.298  102  29
23     Josh Donaldson  0.827  0.247   72  26
24      Jorge Polanco  0.826  0.269   98  33

In [40]:
#read and process our NL data, then make predictions
nlPredictionData = pd.read_csv("MLBStatScraper_20211004_national_ops_2021.csv")
namelessNLData = nlPredictionData.drop(columns=["player name"])
nlPredictions = model.predict(namelessNLData)

#create a dataframe to easier visualize our NL predictions
nlPredictionsArray = np.array(nlPredictions)
nlPredictionsDf = pd.DataFrame(nlPredictionsArray)
nlPredictionsDf.columns = ["mvp"]
nlPredictionsDf

        mvp
0       MVP
1       MVP
2   Not MVP
3   Not MVP
4   Not MVP
5   Not MVP
6   Not MVP
7   Not MVP
8   Not MVP
9   Not MVP
10  Not MVP
11  Not MVP
12  Not MVP
13  Not MVP
14  Not MVP
15  Not MVP
16  Not MVP
17  Not MVP
18  Not MVP
19  Not MVP
20  Not MVP
21  Not MVP
22  Not MVP
23  Not MVP
24  Not MVP

In [41]:
#calculate probabilies of our model's predictions for NLMVP
nlPredictionProbabilities = model.predict_proba(namelessNLData)
nlProbabilitiesArray = np.array(nlPredictionProbabilities)
nlProbabilitiesDf = pd.DataFrame(nlProbabilitiesArray)
nlProbabilitiesDf.columns = ["nlmvp", "not nlmvp"]
nlProbabilitiesDf

       nlmvp  not nlmvp
0   0.525454   0.474546
1   0.581493   0.418507
2   0.454348   0.545652
3   0.484896   0.515104
4   0.404543   0.595457
5   0.360273   0.639727
6   0.220061   0.779939
7   0.256877   0.743123
8   0.324435   0.675565
9   0.471388   0.528612
10  0.242667   0.757333
11  0.259476   0.740524
12  0.323813   0.676187
13  0.347983   0.652017
14  0.220145   0.779855
15  0.068311   0.931689
16  0.327509   0.672491
17  0.096530   0.903470
18  0.103616   0.896384
19  0.175585   0.824415
20  0.158047   0.841953
21  0.140366   0.859634
22  0.136434   0.863566
23  0.224072   0.775928
24  0.082220   0.917780

In [42]:
nlPredictionData

         player name    ops    avg  rbi  hr
0       Bryce Harper  1.044  0.309   84  35
1          Juan Soto  0.999  0.313   95  29
2     Fernando Tatis  0.975  0.282   97  42
3   Nick Castellanos  0.939  0.309  100  34
4         Joey Votto  0.938  0.266   99  36
5     Bryan Reynolds  0.912  0.302   90  24
6      Tyler O'Neill  0.912  0.286   80  34
7        Trea Turner  0.911  0.328   77  28
8          C.J. Cron  0.905  0.281   92  28
9       Austin Riley  0.898  0.303  107  33
10   Freddie Freeman  0.896  0.300   83  31
11         Max Muncy  0.895  0.249   94  36
12  Brandon Crawford  0.895  0.298   90  24
13  Paul Goldschmidt  0.879  0.294   99  31
14       Pete Alonso  0.862  0.262   94  37
15      Mookie Betts  0.854  0.264   58  23
16     Manny Machado  0.836  0.278  106  28
17    Jonathan India  0.835  0.269   69  21
18       Kris Bryant  0.835  0.265   73  25
19     Justin Turner  0.832  0.278   87  27
20         Josh Bell  0.823  0.261   88  27
21    Avisail Garcia  0.820  0.262   86  29
22       Javier Baez  0.813  0.265   87  31
23     Nolan Arenado  0.806  0.255  105  34
24      Trevor Story  0.801  0.251   75  24